@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container-login{
    max-width: 440px;
    padding: 0 20px;
    margin: 120px auto;

}
.wrapper-login{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
    max-height: 450px;
}
.wrapper-login .title{
    height: 50px;
    color: #191515;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-login form{
    padding: 10px 25px 25px 25px;
}
.wrapper-login form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wrapper-login form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus{
    border-color: #063970;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 118, 188, 0.25);
}
form .row input::placeholder{
    color: #999;
}
.wrapper-login form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #063970;
    border: 1px solid #063970;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-login form .pass{
    margin: -8px 0 20px 0;
}
.logo{
    height: 120px;
}
.logo img{
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.wrapper-login form .pass a{
    color: #063970;
    font-size: 17px;
    text-decoration: none;
}
.wrapper-login form .pass a:hover{
    text-decoration: underline;
}
.wrapper-login form .button-login input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #1e81b0;
    border: 1px solid #1e81b0;
    cursor: pointer;
}
form .button-login input:hover{
    background: #063970;
}
.wrapper-login form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}